@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@452&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rufina:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

@theme {
  --breakpoint-xm: 55rem;
  /* --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem; */
}

a{
  text-decoration: none;
  color: inherit;
}
body, html{
  background-color: black;
  color: white;
}



/* globals.css */
.marquee-track {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 2rem; /* matches gap-10 */
  animation: marquee 20s linear infinite;
  animation-delay: 2s;
}

@media (max-width: 768px) {
  .marquee-track {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 2rem; /* matches gap-10 */
    animation: marquee 5s linear infinite;
    animation-delay: 1s;
  }
  /* @keyframes marquee {
    0% { transform: translateX(100%); }
    50% { transform: translateX(-150%); }
    100% { transform: translateX(-600%); }
  } */
}

@keyframes marquee {
  0%   { transform: translateX(0%); }
  50% { transform: translateX(-50%); }
  100% { transform: translateX(-120%); }
}

/* optional: pause on hover */
.marquee-track:hover {
  animation-play-state: paused;
}
